@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/fira-sans-condensed/400.css';
@import '~@fontsource/fira-sans-condensed/500.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


$enable-negative-margins: true;

html {
    font-size: 15px;
}

body {
    font-family:'Fira Sans Condensed';

}